In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../artifacts/data_ingestion/StockPrices/sp500.csv')

In [4]:
df.head()

         Date   Open   High    Low  Close     Volume  Dividends  Stock Splits
0  1950-01-03  16.66  16.66  16.66  16.66  1260000.0        0.0           0.0
1  1950-01-04  16.85  16.85  16.85  16.85  1890000.0        0.0           0.0
2  1950-01-05  16.93  16.93  16.93  16.93  2550000.0        0.0           0.0
3  1950-01-06  16.98  16.98  16.98  16.98  2010000.0        0.0           0.0
4  1950-01-09  17.08  17.08  17.08  17.08  2520000.0        0.0           0.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18293 entries, 0 to 18292
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          18292 non-null  object
 1   Open          18292 non-null  float64
 2   High          18292 non-null  float64
 3   Low           18292 non-null  float64
 4   Close         18292 non-null  float64
 5   Volume        18292 non-null  float64
 6   Dividends     18292 non-null  float64
 7   Stock Splits  18292 non-null  float64
dtypes: float64(7), object(1)
memory usage: 1.1+ MB